@use "variables" as *;

.btn{
    font-size: 20px !important;

    &--primary{
        background-color: $light-purple !important;
        color: white !important;
    }

    &--secondary{
        background-color: $hover-purple !important;
        color: white !important;
    }

    &--outline{
        background-color: #fff !important;
        border: 1px solid $primary-purple !important;

        &:hover{
            background-color: $primary-purple !important;
            color: white !important;
        }
    }

    &--link{
        width: 15em;
        margin: auto;
    }
}
