@use "variables" as *;

main{
    display: flex;
    flex-direction: column;
}

.sort-and-filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button{
    font-size: small;
}

.search{
    height: 100% !important;
    border: 1px solid $hover-purple !important;
}

.tabulator-col-content{
    background-color: $hover-purple;
    color: white;
}
